{% capture html %}
<ul class="category-nav row--padding invert-text">
  {% assign sections = site.html_pages | sort: "path" | sort: "guide-order" %}
  {% for section in sections %}
    {% capture slug    %}{{ section.url | split: "/"   | last                       }}{% endcapture %}
    {% capture current %}{{ section.url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}
    {% if current == include.context %}
    <li class="category-nav__item category-nav__item--{{section.class}}" style="background-image: url('{{ site.baseurl }}/img/bg/banner-{{section.class}}.jpg');">
      <a class="category-nav__link" href="{{ site.baseurl }}{{ section.url }}">
        <span class="category-nav__link-wrap">
          <p class="title title--bolder title--expanded">Our guide to</p><br />
          <span class="title title--smaller title--bold title--display">{{ section.title }}</span>
        </span>
      </a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}