
<section class="title-banner js-fading-backgrounds">

  <div class="title-banner__wrap">
    <div class="title-banner__content invert-text align-center">
      {% if page.banner-supertitle %}
        <p class="title-banner__suptitle title title--smaller title--upper title--expanded title--margin-none title--display">{{ page.banner-supertitle }}</p>
      {% endif %}

      <h1 class="title-banner__title title title--larger">
        {% if page.banner-title %}{{ page.banner-title }}{% else %}{{ page.title }}{% endif %}
      </h1>

      {% if page.banner-subtitle %}
        <p class="title-banner__subtitle title title--smaller title--upper title--expanded title--display">{{ page.banner-subtitle }}</p>
      {% endif %}

    </div>
  </div>

  <div class="title-banner__overlay"></div>

  <div class="title-banner__bg js-fading-background" style="background-image: url({{site.baseurl}}/img/bg/banner-overview/01.jpg);"></div>
  <div class="title-banner__bg js-fading-background" style="background-image: url({{site.baseurl}}/img/bg/banner-overview/02.jpg);"></div>
  <div class="title-banner__bg js-fading-background" style="background-image: url({{site.baseurl}}/img/bg/banner-overview/03.jpg);"></div>

</section>
{% include navigation/microsite-nav.html %}