

<section class="harvey section clearfix section--padding-none bg--theme-secondary bg--waves-10 invert-text">

   <a href="{{ site.baseurl }}/offers" class="harvey__image bg-image bg-image--ratio bg-image--ratio-3-2" style="background-image: url({{site.baseurl}}/img/content/competition.jpg);"></a>

   <div class="harvey__text align-center">

     <h2 class="title title--medium title--display">Win £2,000 spending money for a holiday in the Philippines</h2>
     <hr class="hr--center hr--margin">
     <p class="p--lead">Book any Secret Escapes package to the Philippines and be in with the chance to win £2,000 spending money</p>
     <a href="{{ site.baseurl }}/offers" class="btn btn--solid btn--invert btn--large">View Philippines Holidays</a>

   </div>

 </section>