<a href="{{site.baseurl}}{{ guide.url }}" class="guide invert-text align-center bg-image bg-image--border bg-image--zoom bg-image--ratio bg-image--ratio-3-4 bg-image--large--ratio-16-9 bg-image--xxlarge--ratio-3-4" style="background-image: url('{{ site.baseurl }}/img/bg/banner-{{ guide.class }}.jpg');">
  <div class="bg-image__content">
    <div>

      <span class="title title--micro title--bolder title--expanded title--upper">Our guide to</span>
      <hr class="hr--center hr--margin" />
      <h2 class="title title--medium title--display">{{ guide.title }}</h2>
      <hr class="hr--center hr--margin" />
      <p>
        <strong>See:</strong> {{ guide.see }}<br />
        <strong>Great for:</strong> {{ guide.for }}
      </p>

    </div>
  </div>
</a>