<div class="offer offer--small">

  <a id="card-link-{{ offer.title | slugify }}" class="offer__link" href="{{ offer.link }}"><span class="btn btn--se btn--solid">View Offer</span></a>

  <div class="offer__image bg-image--ratio bg-image--ratio-3-2" style="background-image: url('{{ site.baseurl }}/img/offers/{% if offer.class %}{{ offer.class }}{% else %}{{ offer.title | slugify }}{% endif %}.jpg')">
  </div>

  <div class="offer__content">
    <h3 class="offer__title"><a id="title-link-{{ offer.title | slugify }}" href="{{ offer.link }}">{{ offer.title }}</a></h3>
    <h4 class="offer__location">{{ offer.location }}</h4>
    <p>{{ offer.description}}</p>

    <div class="offer__bottom">
      <div class="offer__bottom-item">

        <div class="offer__saved">
          <span class="p--small">Save up to</span> <span class="offer__saved-num">{{ offer.saved }}%</span>
        </div>
        <div class="offer__details">
          <div class="p--small">From <span class="offer__price">£{{ offer.price }}</span></div>
          <div class="p--small">{{ offer.price-description }}</div>
          <div class="js-offer-expires p--small" data-expires="{{ offer.expires }}"></div>
        </div>
      </div>

    </div>

  </div>

</div>