<div class="js-modal js-video-modal modal modal--vertical-align is-closed" id="modal-video">
  <div class="modal__wrap row row--padding">
    <div class="modal__content">

      <div class="modal__item row row--columns-vertical-align" id="modal__item-video">
        <div class="js-close-modal modal__close"></div>

        <div class="bg-image bg-image--ratio-16-9 video-box" style="background-image: url('{{ site.baseurl }}/img/bg/banner-overview.jpg');">
          <iframe id="modal-iframe" class="video-box__iframe" width="100%" height="100%" src="" frameborder="0" allowfullscreen></iframe>
        </div>

      </div>

    </div>
  </div>
</div>