// Offer block styles



.offer {
  position: relative;
  // GRID SHIZZ
  max-width: $large;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: ($margin * 2);
  @include bp(xxlarge){
    @include layout(12 1);
    @include gallery(6);
    margin-bottom: gutter(12);
    // centers the last offer in 2 col grid
    .offers--center &:nth-child(odd):last-child {
      margin-right: auto;
      margin-left: auto;
      float: none !important;
    }
  }

  &--small {
    @include bp(xxlarge){
      @include layout(12 1);
      @include gallery(4);
      margin-bottom: gutter(12);
    }
  }

  // END GRID SHIZZ
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    display: block;
    opacity: 0;
    background-color: transparent;
    color: transparent;
    text-align: center;
    @include transition;
    & .btn {
      margin-top: 50%;
      .touch & { display: none; }
    }
    &:hover {
      opacity: 1;
      background-color: $black-33;
      color: $white;
      text-decoration: none;
      & .btn { transform: scale(1.05,1.05); }
      .touch & { background-color: transparent; }
    }
    .flexbox & {
      display: flex;
      justify-content: center;
      align-items: center;
      & .btn {
        margin-top: 0;
      }
    }
  }
  &__image {
  border-radius: 3px 3px 0 0;
  }
  &__content {
    padding: 1em 1.5em;
    border-left: 1px solid $light-grey;
    border-right: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    background-color: $white;
    border-radius: 0 0 3px 3px;
  }
  &__title {
    font-family: $main-font-family;
    font-size: 1.467em;
    letter-spacing: .015em;
    line-height: 1.3;
  }
  &__location {
    margin-top: 1em;
    margin-left: 1.5em;
    margin-bottom: 1em;
    text-indent: -1.5em;
    font-size: 0.75em;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: $text-paragraph;
    &:before {
      content: "";
      display: inline-block;
      height: 1.5em;
      width: 1.05em;
      margin-right: .5em;
      margin-bottom: .2em;
      vertical-align: middle;
      background-image: url( "../img/icons/map-pin.png" );
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
      .svg & { background-image: url( "../img/icons/map-pin.svg" ); }
    }
  }
  $circle-height: 50px;
  &__saved {
    &-num {
      display: inline-block;
      width: $circle-height;
      height: $circle-height;
      margin-left: .2em;
      text-align: center;
      color: #fff;
      line-height: $circle-height;
      background-color: $se-orange;
      border-radius: $circle-height;
    }
    @include bp(small){
      display: inline-block;
      vertical-align: middle;
      border-right: 1px solid $light-grey;
      padding-right: ($margin/3);
    }
    @include bp(medium){
      padding-right: $margin/2;
    }
  }
  &__details {
    margin-top: ($margin/2);
    @include bp(small){
      display: inline-block;
      vertical-align: middle;
      margin-top: 0;
      padding-left: ($margin/3);
    }
    @include bp(medium){
      padding-left: $margin/2;
    }
  }
  &__price {
    color: $se-orange;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1;
  }
  &__arrow {
    display: none;
    @include bp(medium){
      display: inline-block;
      width: $circle-height;
      height: $circle-height;
      border: 1px solid $se-orange;
      border-radius: $circle-height;
      background-repeat: no-repeat;
      background-image: url('../img/icons/arrow-right-orange.png');
      background-size: auto 22px;
      background-position: 20px center;
      .svg & { background-image: url('../img/icons/arrow-right-orange.svg'); }
    }
  }
  &__bottom {
    @include bp(medium){
      display: table;
      width: 100%;
      * { vertical-align: middle; }
      strong,
      span { vertical-align: baseline; }
      &-item {
        display: table-cell;
        &--right { text-align: right; }
      }
    }
  }
}


// -- Section to show if no offers --

.offer-promo {
  position: relative;
  padding-top: ($margin*6);
  padding-bottom: ($margin*6);
  background-color: rgba($dark-grey, 0.75);
  &__bgs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-background;
  }
  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    display: none;
    width: 100%;
    @include background-attributes;
    &:nth-of-type(1) {
      left: 0;
      display: block;
    }
    @include bp(large){
      width: 33.33%;
      &:nth-of-type(2) {
        display: block;
        left: 33.33%;
      }
      &:nth-of-type(3) {
        display: block;
        left: 66.66%;
      }
    }
  }
}