
/* ===============================================
 *     CUSTOM STYLES FOR THE SITE
 * =============================================== */

body { background-color: $light-grey; }

// -- Footer --

.footer {
  background-color: $black-85;
  .site-nav {
    background-color: $light-grey;
    border-color: darken($light-grey,10);
    border-bottom: 0;
    &__item {
      border-color: darken($light-grey,10) !important;
      &:hover {
        background-color: $white;
      }
    }
  }
  &__logos {
    font-size: .9em;
    padding-top: $margin;
    padding-bottom: $margin;
  }
  .logo {
    vertical-align: middle;
    margin-left: ($margin/4);
    margin-right: ($margin/4);
  }
  p { margin-top: .5em; }
  .logo--secret-escapes { max-width: 110px; }
  .logo--partner { max-width: 100px; }
}


// -- Section styles --

.invert-text {
  color: $white;
  &.title, & .title { color: $white; }
  hr,.hr { background-color: rgba($white,0.4);}
}
.bg {
  &--white      { background-color: $white; }
  &--black      { background-color: $black; }
  &--light-grey { background-color: $light-grey; }
  &--grey { background-color: $grey; }
  &--dark-grey  { background-color: $dark-grey; }
  &--text-black     { background-color: $text-black; }
  &--text-heading   { background-color: $text-heading; }
  &--text-paragraph { background-color: $text-paragraph; }
  &--se-orange     { background-color: $se-orange; }
  &--se-light-grey { background-color: $se-light-grey; }
  &--se-dark-grey  { background-color: $se-dark-grey; }
  &--theme-primary   { background-color: $partner-primary; }
  &--theme-secondary { background-color: $partner-secondary; }
  &--theme-tertiary { background-color: $partner-tertiary; }
  &--theme-fourth { background-color: $partner-fourth; }

  &--pattern { background-image: url('../img/bg/bg-pattern.png'); }

  &--waves { background-image: url('../img/bg/wave-white50.png'); background-attachment: fixed; }
  &--waves-10 { background-image: url('../img/bg/wave-white10.png'); background-attachment: fixed; }
  &--waves-dark { background-image: url('../img/bg/wave-black30.png'); background-attachment: fixed; }
  &--waves-dark-05 { background-image: url('../img/bg/wave-black05.png'); background-attachment: fixed; }

  &--image {}
  &--image-fixed { background-size: cover; background-attachment: fixed; background-repeat: no-repeat; }
}


// -- Page intro sections --

.intro {

  &-experts {
    padding-bottom: 6em;
    margin-bottom: -6em;
    background-color: $partner-primary;
    background-image: url('../img/bg/wave-white10.png');
    color: $white;
  }

  &-offers {
    padding-bottom: 6em;
    margin-bottom: -6em;
    background-color: $partner-secondary;
    background-image: url('../img/bg/wave-white10.png');
    color: $white;
  }

  &-guide {
    position: relative;
    overflow: hidden;
    &__content {
      background-color: $partner-tertiary;
      background-image: url('../img/bg/wave-white10.png');
      color: $white;
      margin-bottom: 50px;
    }
    &__nav {
      background-color: rgba($partner-tertiary-light,0.8);
      position: absolute;
      bottom: 0; left: 0; width: 100%;
      .list--horizontal {
        height: 50px;
        padding-top: 0.25em;padding-bottom: 0.25em;
      }

      &.stuck {
        position: fixed; top: 0; bottom: auto;
        z-index: 100;
        box-shadow: 0 0 5px 0 rgba($black, 0.2);
      }
    }
  }

}


/* ===============================================
 *     JAVASCRIPT SECTIONS
 * =============================================== */

// -- Highlight slider :: show/hide extra highlights ---

.highlights {
  overflow: hidden;
  position: relative;
  &--hide {
    margin-bottom: -20px;
    height: 320px;
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0; left: 0; right: 0;
      height: 60px;
      background-image: url('../img/icons/highlights-fade.png');
      background-position: bottom;
      background-repeat: repeat-x;
    }
    .bg--light-grey &:after { background-image: url('../img/icons/highlights-fade-light-grey.png'); }
    .bg--grey &:after { background-image: url('../img/icons/highlights-fade-grey.png'); }
  }
  &__btn { position: relative; z-index: 10; }
}

// ---------- folding sections ----------

.fold {
  &-container { position: relative; padding: 2px 0; }
  &__btn {
    position: absolute;
    z-index: 10;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
  }
}


/* ===============================================
 *     EXPLORE PAGE
 * =============================================== */

.guides__row .guide {
  overflow: hidden;
  margin-top: $margin;
  margin-bottom: $margin;
  @include bp(xxlarge){
    @include gallery($gutters 4);
  }
}


/* ===============================================
 *     EXPERTS PAGE
 * =============================================== */

.expert {
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
  border-radius: 3px;
  background-color: $light-grey;
  &:not(:last-child) { margin-bottom: 5em; }

  &__summary {
    background-color: $white;
    display: flex;
    align-items: center;
    border-radius: 3px;
    &-image {
      &-profile {
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
        position: absolute !important;
        left: -1em; top: -1em;
        width: 140px;
      }
      border-radius: 0 3px 3px 0;
    }
    &-content { padding: $margin; }
  }


  &__interview {
    padding: $margin;
  }
}

