// the title banner that appears at the top of every page. sometimes animated bgs


.title-banner {
  overflow: hidden;
  position: relative;
  height: 75%;
  text-align: center;
  color: white;
  @include background-attributes();

  &__wrap {
    position: absolute;
    top: $core-nav-height;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: $z-content;
    padding-top: 25vh;
    padding-left: ($margin/2);
    padding-right: ($margin/2);
    .csstransforms.csstransforms3d & {
      top: 50%;
      padding-top: 0;
      transform: translateY(-50%);
    }
    &:after {
      content: "";
      pointer-events: none;
      height: 272px; width: 436px;
      position: absolute; z-index: -1;
      top: 50%; margin-top: -136px;
      left: 50%; margin-left: -218px;
      background-image: url('../img/bg/title-banner--pattern.png');
      background-position: center; background-size: contain; background-repeat: no-repeat;
    }
  }

  &__title {
    margin-top: 15px;
    font-family: $display-font-family;
    line-height: 1.5;
  }

  &__overlay {
    content: "";
    position: absolute;
    z-index: $z-content;
    top:0;bottom:0;left:0;right:0;
    background-color: $dark-grey;
    opacity: 0.25;
  }

}