
/* ===============================================
 *     GENERAL TYPOGRAPHIC STYLES
 * =============================================== */

// -------- root typography styles --------

$core-font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
$main-font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
$title-font-family: 'Barrio', 'Helvetica Neue', sans-serif;
$display-font-family: 'Rock Salt', 'Helvetica Neue', sans-serif;


html { font-size: 62.5%; }
body,
input, textarea, keygen, select, button {
  font: 400 14px/1.728 $main-font-family;
  -webkit-text-size-adjust: 100%;
  @include bp(medium) {
    font-size: 15px;
  }
  color: $text-paragraph;
}


/* ===============================================
 *     HEADINGS
 * =============================================== */

.title {
  color: $text-heading;
  letter-spacing: .025em;
  line-height: 1.2;
  + * { margin-top: 0.75em; }

  &--display { font-family: $title-font-family; line-height: 1; }

  &--spacing {
    * + & { margin-top: 15px; }
  }
  &--margin {
    margin-top: 1.5em;
    &-small + * { margin-top: 0.5; }
    &-none { margin-top: 0; }
    &-none + * { margin-top: 0; }
  }

  &--sub-heading { margin-top: 0 !important; }

  &--light     { font-weight: 200; }
  &--bold      { font-weight: 500; }
  &--bolder    { font-weight: 600; }
  &--expanded  { letter-spacing: .2em; }
  &--condense  { letter-spacing: 0; }
  &--tight     { line-height: .9; }
  &--tighter   { line-height: .8; }
  &--upper     { text-transform: uppercase; }
  &--italic    { font-style: italic; }

  &--largest {
    font-size: 4.3em;
  }
  &--larger      { font-size: 3.375em; }
  &--large       { font-size: 2.986em; }
  &--medium      { font-size: 2.25em; }
  &--small       { font-size: 2em; }
  &--smaller     { font-size: 1.75em; }
  &--smallest    { font-size: 1.5em; }
  &--tiny        { font-size: 1.44em; }
  &--micro       { font-size: 1.2em; }
  @include bp(xxlarge){
    &--largest     { font-size: 8em; }
    &--larger      { font-size: 6em; }
    &--large       { font-size: 4em; }
    &--medium      { font-size: 2.833em; }
    &--small       { font-size: 2.367em; }
    &--smaller     { font-size: 2em; }
    &--smallest     { font-size: 1.75em; }
  }
}


/* ===============================================
 *     PARAGRAPH
 * =============================================== */

.p {
  &--lead { }
  &--large { font-size: 1.05em; }
  &--small { font-size: .85em; }

  &--light     { font-weight: 300; }
  &--bold      { font-weight: 600; }
  &--bolder    { font-weight: 700; }
  &--condense  { letter-spacing: 0; }
  &--expanded  { letter-spacing: .1em; }
  &--tight     { line-height: .9; }
  &--tighter   { line-height: .8; }
  &--upper     { text-transform: uppercase; }
  &--italic    { font-style: italic; }
  @include bp(large){
    &--lead {
      font-size: 1.2em;
      line-height: 1.55;
    }
  }
}
.align-center p,
p.align-center { margin-left: auto; margin-right: auto; }



// -------- Lists ---------

dl {
  dt { margin-bottom: 5px; }
  dd {}
}

.list {
  &--horizontal {
    list-style: none; padding: 0; margin: 0;
    li {
      display: inline-block; position: relative; padding: 0 1.5em; margin: 0.5em 0;
    }
    li:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      height: 100%;
      width: 1px;
      background-color: rgba($black,0.1);
      transform: translateY(-50%);
    }
    li:last-child:after { content: none; }
    .list__title {
      padding-right: 0;
      &:after { content: none; }
    }

    @include bp(large){
      .flexbox & {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        li {
          flex-grow: 1;
          a { width: 100%; display: inline-block; }
        }
      }
    }

  }
  &--lined {
    li {
      list-style: none;
      padding: 10px 0;
      border-top: 1px solid rgba($black,0.1);
      .invert-text & { border-top: 1px solid rgba($white,0.1); }
    }
  }
}


/* ===============================================
 *     GENERAL CONTENT STYLES
 * =============================================== */

p             { max-width: $xlarge; }
p + *         { margin-top: 1em; }
li            { list-style-position: inside; }
ul li         { list-style-type: disc; }
ol li         { list-style-type: decimal; }
em            { font-style: italic; }
strong        { font-weight: 800; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { text-align: center; }

hr {
  border: 0;
  height: 1px;
  background-color: darken($light-grey, 10);
  margin: 1em 0;
}
.hr {
  &--center { width: 80px; margin-left: auto; margin-right: auto; }
  &--margin { margin-top: 2em; margin-bottom: 2em; }
}

a {
  &:hover { text-decoration: none; }
  p &:hover { text-decoration: underline; }
}



// ---------- Buttons ----------

.btn {
  @include transition;
  display:inline-block;
  padding: .5em 3em .45em;
  border-radius: 3px;
  border: 2px solid rgba($partner-secondary, 0.2);
  color: $partner-secondary;
  font-family: $main-font-family;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 0.9em;
  letter-spacing: 0.2em;
  &:hover {
    color: white;
    background-color: $partner-secondary;
    text-decoration: none;
  }
  * + & { margin-top: 1.5em; }

  &--solid {
    padding: .5em 3em .4em;
    box-shadow: 2px 2px 2px 0 rgba(black,0.2);
    color: white; border: 0; background-color: $partner-primary;
    &:hover { background-color: darken($partner-primary, 10) }
  }

  &--primary { background-color: $partner-primary; }
  &--primary:hover { background-color: darken($partner-primary, 10); }

  &--secondary { background-color: $partner-secondary; }
  &--secondary:hover { background-color: darken($partner-secondary, 10); }

  &--invert {
    color: $white; border-color: $white;
    &:hover { background-color: $white; color: $partner-secondary; }
    &.btn--solid { color: $partner-secondary; border: 0; background-color: $white; }
    &.btn--primary { color: $partner-primary; }
    &.btn--secondary { color: $partner-secondary; }
    &.btn--secondary:hover { background-color: darken($partner-secondary, 10); color: $white; }
  }

  &--se {
    background-color: $se-orange;
    &:hover { background-color: darken($se-orange, 10); }
    &.btn--invert { color: $se-orange; background-color: $white; }
  }

  &--small { font-size: 0.85em; letter-spacing: 0.05em; text-transform: none; padding: .4em 2em; }
  &--large { font-size: 1em; padding: .7em 3em; }

}