---

layout: basic
parent: true
title: Explore
class: explore
nav-order: 2

banner-title: Explore
banner-subtitle: The Philippines

intro: >
  <p class="p--lead">Discover the wonders of the Philippines in our guides to the finest destinations this paradise offers…</p>

---



{% include travel-details.html %}



<section class="bg--white">

  <div class="row row--padding guides__row">
    {% assign guides = site.html_pages | where: 'layout', 'guide' | sort:'guide-order' %}
    {% for guide in guides %}
      {% include guides/normal.html %}
    {% endfor %}
  </div>

</section>



<section>

  <div class="row row--padding align-center">
    <h2 class="title title--small title--upper title--light title--expanded">Best of the Philippines</h2>
    <hr class="hr--center hr--margin">
  </div>

  <div class="row row--padding row--columns-4-4-4-gutters">

    {% assign highlights = site.data.highlights | where: 'feature', 'true' %}
    {% for highlight in highlights %}
      {% include highlights/normal.html %}
    {% endfor %}

  </div>

</section>



{% include highlights/modal.html %}