
<a
  href="javascript:void(0);"
  id="highlight-{{ highlight.class }}"
  class="row__column bg--white card js-open-modal"
  data-modal="highlights"
  data-modal-item="{{ highlight.class }}">

  <div class="card__image bg-image bg-image--ratio bg-image--ratio-16-9" style="background-image: url('{{ site.baseurl }}/img/content/highlights/{{ highlight.class }}.jpg');"></div>

  <div class="card__title">
    <h2 class="title title--micro title--bolder">{{ highlight.title }}</h2>
    {% if highlight.location %}<p class="card__location">{{ highlight.location }}</p>{% endif %}
  </div>
  <div class="card__content">
    <p class="p--small">{{ highlight.content | strip_html | strip_newlines | truncate: 95 }}</p>
  </div>

</a>
