
<a
  href="javascript:void(0);"
  id="highlight-{{ highlight.class }}"
  class="row__column bg--white card card--small js-open-modal"
  data-modal="highlights"
  data-modal-item="{{ highlight.class }}">

  <div class="card__image bg-image bg-image--ratio bg-image--ratio-1-1" style="background-image: url('{{ site.baseurl }}/img/content/highlights/{{ highlight.class }}.jpg');"></div>

  <div class="card__content">
    <h2 class="title title--bolder">{{ highlight.title }}</h2>
    {% if highlight.location %}<p class="card__location">{{ highlight.location }}</p>{% endif %}
  </div>

</a>