<a href="{{site.baseurl}}{{ guide.url }}" class="guide-item invert-text align-center bg-image bg-image--border bg-image--zoom bg-image--ratio bg-image--ratio-16-9" style="background-image: url('{{ site.baseurl }}/img/bg/banner-{{ guide.class }}.jpg');">
  <div class="bg-image__content">
    <div>

      <span class="title title--micro title--bolder title--expanded title--upper">Our guide to</span>
      <hr class="hr--center" />
      <h2 class="title title--small title--display">{{ guide.title }}</h2>

    </div>
  </div>
</a>