---

layout: basic
title: Experts
class: experts
nav-order: 3

banner-title: Experts
banner-subtitle: Meet the local experts

intro: >
  <p class="p--lead">Hear from our handpicked Philippines experts that will help pique your wanderlust with their insight into this island paradise...</p>

---





<section class="section--padding-large">

  <div class="row row--padding">

    {% for expert in site.data.experts %}
    <div class="row row--columns-6-6 expert" id="expert-{{expert.class}}">

      <div class="row expert__summary">

        <a href="#expert-{{expert.class}}" class="row__column expert__summary-image bg-image bg-image--ratio bg-image--ratio-16-9 bg-image--large--ratio-1-1 bg-image--xxlarge--ratio-4-3 fold__trigger" data-target="expert-{{expert.class}}-interview" style="background-image: url('{{ site.baseurl }}/img/content/experts/{{ expert.class }}.jpg');">
          <div class="expert__summary-image-profile bg-image--shadow bg-image--border bg-image bg-image--ratio bg-image--ratio-1-1" style="background-image: url('{{ site.baseurl }}/img/content/experts/{{ expert.class }}-profile.jpg');"></div>
        </a>

        <div class="row__column expert__summary-content">
          <h2 class="title title--medium title--display">{{ expert.title }}</h2>
          {{ expert.content }}
        </div>

      </div>

      <div class="fold-container bg--pattern" id="expert-{{expert.class}}-interview">
        <a href="#expert-{{expert.class}}" class="btn btn--solid fold__btn" data-target="expert-{{expert.class}}-interview" data-label="Read interview" data-alt-label="Hide interview">Read interview</a>
        <div class="row row--columns-6-6-gutters fold expert__interview">
          <div class="row__column">
          {% for question in expert.questions %}
            {% assign half = forloop.length | divided_by:2.0 | ceil %}
            <h3 class="title title--micro title--bolder title--extra-margin">{{question.question}}</h3>
            <p>{{question.answer}}</p>
            {% if forloop.index == half %}
            </div>
            <div class="row__column">
            {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>

    </div>

    {% endfor %}
  </div>

</section>


