---
layout: default
---
{% assign highlights = site.data.highlights | where:'guide-class',page.class %}



<section class="section--padding-none bg--white intro-guide">

  <section class="intro-guide__content align-center">
    <div class="row row--padding">
      {{ page.intro }}
    </div>
  </section>

  <section class="intro-guide__nav section--padding-none align-center">
    <div class="row row--padding">
      <ul class="list--horizontal">
        {% for section in page.sections %}
        <li><a href="#section-{{ section.class }}" class="title title--bolder title--expanded title--upper p--small">{{ section.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </section>

</section>






{% for section in page.sections %}

<section class="section--padding-large bg--{% cycle 'white', 'light-grey'%}" id="section-{{ section.class }}">

  <div class="row row--padding">
    <div class="bob">

      <div class="bob__image bg-image bg-image--border bg-image--ratio bg-image--ratio-4-3" style="background-image:url('{{ site.baseurl }}/img/content/guides/{{ page.class }}-{{ section.class }}.jpg');"></div>

      <div class="bob__text">
        <h2 class="title title--medium title--display">{{ section.title }}</h2>
        {{ section.content }}
      </div>

    </div>
  </div>

  {% assign section-highlights = highlights | where:'guide-section-class',section.class %}
  {% if section-highlights.size > 0 %}
  <div class="row row--padding align-center">
    <h3 class="title title--smallest title--light title--upper title--expanded">Highlights of {{ section.title }}</h3>
  </div>
  <div class="row align-center">
    <div class="row--padding row--columns-3-3-3-3-gutters highlights {% if section-highlights.size > 4 %} highlights--tease{% endif %}" id="highlights-{{ section.class }}">
      {% for highlight in section-highlights %}
        {% include highlights/normal.html %}
      {% endfor %}
    </div>
    {% if section-highlights.size > 4 %}
      <a href="#highlights-{{ section.class }}" data-target="highlights-{{ section.class }}" class="highlights__btn btn btn--solid" data-label="View all highlights" data-alt-label="Hide highlights">View all {{ section.title }} highlights</a>
    {% endif %}
  </div>
  {% endif %}

</section>

{% endfor %}




<section class="section--padding-large bg--pattern bg--light-grey align-center">

  <div class="row row--padding">
    <h2 class="title title--medium title--upper title--display">Continue exploring</h2>
    <p class="p--lead">Unpick more of the Philippines with our other guides – don’t miss them!</p>
  </div>

  <div class="row row--thin row--padding guides__row-6-6">
    {% assign guides = site.html_pages | where: 'layout', 'guide' | sort:'guide-order' %}
    {% for guide in guides %}
      {% unless guide.class == page.class %}
        {% include guides/small.html %}
      {% endunless %}
    {% endfor %}
  </div>

  <div class="row row--padding">
    <a href="{{ site.baseurl }}/explore" class="btn btn--solid btn--large">Keep exploring</a>
  </div>

</section>




{% include highlights/modal.html %}