---

layout: basic
title: Offers
class: offers
nav-order: 4

banner-supertitle: The best Philippines
banner-title: Offers

intro: >
  <p class="p--lead">Book any Philippines package below and be in with the chance to win £2,000 spending money!</p>
  <p class="p--lead">It’s no surprise you’ve landed on this page – our guides prove what an enchanting island chain the Philippines is. Browse your favourite Secret Escapes offers below, for guaranteed luxury in this veritable paradise.</p>

---



<section class="section">
  <div class="row row--padding">
    {% assign offers = site.data.offers %}
    {% for offer in offers %}
      {% include offers/normal.html %}
    {% endfor %}
  </div>
</section>



{% include offers/promo.html %}