---

layout: basic
title: Offers
class: offers
nav-order: 4

banner-title: Philippines Offers

intro: >
  <p class="p--lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

---



<section class="section__intro align-center">
  <div class="row row--padding">
    {{ page.intro }}
  </div>
</section>



<section class="section bg--white">
  <div class="row row--padding">
    {% assign offers = site.data.offers | sort: 'saved' | reverse %}
    {% for offer in offers %}
      {% include offer-small.html %}
    {% endfor %}
  </div>
</section>