<section class="section offer-promo align-center invert-text">
  <div class="offer-promo__bgs">
    <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/00-general-current-sales/01.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/00-general-current-sales/02.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/00-general-current-sales/03.jpg')"></div>
  </div>
  <div class="row row--padding offer-promo__content">
    <h2 class="title title--medium title--upper title--display">That's not all we do...</h2>
    <p class="p--lead">Didn’t see anything in the Philippines to take your fancy? Well, we have loads more offers with savings of up to 70%!</p>
    <a href="{{ site.baseurl }}/offers" class="btn btn--invert">View offers</a>
  </div>
</section>